<html>
  <body>
    <h1>Olá {{ name }}!</h1>
    <br>
    <p>O seu orientando {{ internName }} enviou um relatório semestral</p>
    <p>Entregue em: {{ deliveredDate }}</p>
    <p>Período: {{ startDate }} - {{ finishDate }}</p>
  </body>
</html>